.idea
*/.idea/*
*.iml
*.ipr
*.iws
out/
*.factorypath

# Eclipse Project files
.classpath
.project

# netbeans ignore
nbproject/
META-INF/
nbactions.xml
nb-configuration.xml

gen/
local.properties

.DS_Store
Thumbs.db

*.bak
*.tem
*.temp
*.log
#.swp
*.*~
~*.*

target/
logs/
mac-logs/

rebel.xml
rebel-remote.xml
/sonarlint/issuestore/1/e/1e734d053bf1af3274ecf812dbddc46503df9373
